{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

{% block titulo %}Proyecto QR Animal{% endblock %}
{% block content %}
<div class="container">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est sint animi veritatis quaerat quidem, rerum tempora,
        voluptatum facilis at quia iusto unde saepe commodi libero, odio possimus tempore officiis iste!</p>
    <div class="form-group">
        <a href="formularioMascota/" class="form-control btn btn-success m-1">Añade a tu mascota</a>
    </div>
    <div class="form-group">
        <a href="recuperarQR/" class="form-control btn btn-info m-1">Recuperar codigo QR</a>
    </div>
</div>
{% endblock %}